.CheckoutItem{
    display: flex;
}
.MealImg{
    width: 140rem;
}
.MealImg img{
    width: 100%;
}
.Desc{
    /* 撑满 */
    flex: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin-left: 20rem;
}
.Title{
    font-size: 24rem;
}
.PriceOuter{
    display: flex;
    justify-content: space-between;
}
.Price{
    font-weight: bold;
    font-size: 26rem;
}
.Price::before{
    content: '￥';
    font-size: 24rem;
    font-weight: normal;
}